---
import Cirkel from "../components/Cirkel.astro";
import Layout from "../layouts/Layout.astro";
import Streg from "../components/Streg.astro";
import UndersideCard from "../components/UndersideCard.astro";
import Carousel from "../components/Carousel.astro";
import CalenderForside from "../components/CalenderForside.astro";
import InstaCard from "../components/InstaCard.astro";

const { title } = Astro.props;
---

<Layout title="Forside | A Circurlar Design Studio">
  <section class="section-grid">
    <div class="splash_text">
      <h1>Plastiksnedkeri i 100% genanvendt plast</h1>
      <p>
        A Circular Design Studio er et utraditionelt plastiksnedkeri, der skaber
        interiør, installationer og kunstværker, i 100% genanvendt plast,
        indsamlet fra husholdninger, naturen eller virksomheder i Danmark.
      </p>
    </div>
    <Cirkel />
  </section>

  <section class="section2 section-grid">
    <h2 class="medStreg">Hvad tilbyder vi</h2>
    <div class="streg_wrapper"><Streg fill="var(--yellow-light)" /></div>

    <p>
      Vores store passion er cirkulær økonomi, og vi tilbyder derfor flere
      ydelser indenfor området. Udover vores populære produkter i genanvendt
      plast og kunstværker, tilbyder vi også kreative undervisningsforløb for
      institutioner, workshops for private og virksomheder og konsulentopgaver.
    </p>
    <div class="undersider">
      <UndersideCard
        farve="pink"
        img="/img/avenyChair.webp"
        underside="special ordre"
        link="special-ordre"
      />

      <UndersideCard
        farve="green"
        img="/img/workshop.webp"
        underside="workshop"
        link="workshop"
      />

      <UndersideCard
        farve="blue"
        img="/img/Stacks.webp"
        underside="Rådgivning"
        link="raadgivning"
      />

      <UndersideCard
        farve="yellow"
        img="/img/regtangulaer.webp"
        underside="Webshop"
        link="produkter"
      />
    </div>
  </section>
  <section class="section3 section-grid">
    <h2>Nyheder</h2>
    <Carousel />
  </section>
  <section class="section4 section-grid">
    <h2>Kalender</h2>
    <div class="kalender_tekst">
      <p>
        Vi er hele tiden ude i landet og besøge forskellige markeder, folkemøder
        og messer, for at vise vores produkter frem og ikke mindst tage en snak
        om genanvendelse af plastik og alle de fantastiske muligheder der er!
      </p>
      <p>
        Herunder er en kalender med vores planer for de næste 3 måneder, vi
        prøver at holde den opdateret hver måned, men ellers kan du også finde
        meget mere information, hvis du følger med på de sociale medier,
        Instagram, Facebook og Linkedin.
      </p>
    </div>
    <div class="kalender">
      <p class="måned">December</p>
      <div class="datoer">
        <CalenderForside
          farve="lightBlue"
          dato="9"
          dag="Fredag"
          location="Nørrebrohallen"
          sted="FLID julemarked"
          tidspunkt="14.00 - 20.00"
        />
        <CalenderForside
          farve="lightRed"
          dato="10"
          dag="Lørdag"
          location="Nørrebrohallen"
          sted="FLID julemarked"
          tidspunkt="10.00 - 17.00"
        />
        <CalenderForside
          farve="lightYellow"
          dato="11"
          dag="Søndag"
          location="Nørrebrohallen"
          sted="FLID julemarked"
          tidspunkt="10.00 - 16.00"
        />
      </div>
      <p class="måned">Januar</p>
      <div class="datoer">
        <CalenderForside
          farve="lightGreen"
          dato="28"
          dag="Lørdag"
          location="Frederiksberg"
          sted="København Design Marked"
          tidspunkt="10.00 - 17.00"
        />
        <CalenderForside
          farve="lightPink"
          dato="29"
          dag="Søndag"
          location="Frederiksberg"
          sted="København Design Marked"
          tidspunkt="10.00 - 17.00"
        />
      </div>
    </div>
  </section>
  <section class="section4 section-grid">
    <h2 class="insta">Instagram</h2>
    <div class="streg_wrapper"><Streg fill="var(--green)" /></div>
    <div class="insta_grid">
      <div class="billede1">
        <InstaCard img="/img/insta1.webp" />
      </div>
      <div class="billede2">
        <InstaCard img="/img/insta2.webp" />
      </div>
      <div class="billede3">
        <InstaCard img="/img/insta3.webp" />
      </div>
      <div class="billede4">
        <InstaCard img="/img/insta4.webp" />
      </div>
      <div class="billede5">
        <InstaCard img="/img/insta5.webp" />
      </div>
    </div>
  </section>

  <!-- cookieboks -->
  <div
    id="newletter"
    class="fixed top-0 grid hidden h-full w-screen bg-secondary bg-opacity-80"
  >
    <div
      class="container grid h-2/3 w-1/2 justify-center place-self-center border-2 border-solid border-primary bg-white px-8"
    >
      <div
        id="luk"
        class="mt-6 cursor-pointer text-right text-3xl font-extralight text-secondary"
      >
        x
      </div>
      <p class="self-end text-3xl font-medium text-secondary">
        Sign op til vores nyhedsbrev
      </p>
      <p class="text-6xl font-bold text-primary">20% på dit første køb</p>
      <div class="flex gap-6 self-start">
        <form class="" action="">
          <input
            class="w-96 border-2 border-primary"
            type="text"
            placeholder="Dinmail@mail.com"
            name="mail"
          />
        </form>
        <button
          id="submit"
          class="h-[44px] w-1/3 bg-primary font-bold uppercase text-white hover:border-2 hover:border-solid hover:border-primary hover:bg-white hover:text-primary"
        >
          Subscribe
        </button>
      </div>
    </div>
  </div>
</Layout>

<script>
  // cookieboks
  const luk = document.querySelector("#luk");
  const submit = document.querySelector("#submit");
  const newsletterBoks = document.querySelector("#newletter");

  window.setTimeout(timer, 10000);

  function timer() {
    console.log("timer i gang ");
    newsletterBoks.classList.remove("hidden");
    luk.addEventListener("click", lukNewsletter);
    submit.addEventListener("click", lukNewsletter);
  }

  function lukNewsletter() {
    console.log("click virker ");
    newsletterBoks.classList.add("hidden");
  }
</script>

<style>
  .insta {
    margin-bottom: var(--space-s);
  }
  .insta_grid {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2, minmax(200px, 250px));
    gap: var(--space-l);
    overflow: hidden;
    place-content: center;
  }

  .billede1,
  .billede2,
  .billede3,
  .billede4,
  .billede5 {
    object-fit: cover;
    overflow: hidden;
    display: flex;
  }
  .billede1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .billede2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .billede3 {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .billede4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .billede5 {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .kalender {
    grid-column: 5/13;
    grid-row: 3;
  }
  .datoer {
    display: flex;
    gap: var(--space-4xl);
    padding-left: var(--space-m);
  }

  .måned {
    font-size: var(--font-size-xl);
    letter-spacing: var(--letter-spacing-double);
    font-weight: var(--font-weight-exlight);
    padding: var(--space-3xl) 0 var(--space-s) 0;
  }
  .kalender_tekst {
    display: flex;
    grid-column: 1/9;
    gap: var(--space-2xl);
  }

  .splash_text {
    grid-column: span 9;
    align-self: center;
  }
  .section-grid {
    margin: auto;
    padding: 1.5rem;
    column-gap: var(--grid-gutter);
    display: grid;
    grid-template-columns: repeat(12, minmax(20px, 80px));
    max-width: var(--grid-max-width);
  }

  h2 {
    grid-column: span 8;
  }

  /* styling for sektion 2 | Hvad tilbyder vi */

  .medStreg {
    margin-bottom: var(--space-2xs);
  }

  .streg_wrapper {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 8;
    overflow: hidden;
    margin-bottom: var(--space-m);
    height: fit-content;
  }
  .section2 p {
    grid-column: span 6;
    grid-row: 3;
  }

  .undersider {
    margin-top: var(--space-2xl);
    grid-column: 1/13;
    grid-row: 4/5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* styling for sektion 4 | Hvad tilbyder vi */
</style>
