---
import Cirkel from "../components/Cirkel.astro";
import Layout from "../layouts/Layout.astro";
import Streg from "../components/Streg.astro";
import UndersideCard from "../components/UndersideCard.astro";
import Carousel from "../components/Carousel.astro";
import CalenderForside from "../components/CalenderForside.astro";
import InstaCard from "../components/InstaCard.astro";
import Button from "../components/Button.astro";

const { title } = Astro.props;
---

<Layout title="Forside | A Circurlar Design Studio">
  <section class="section-grid">
    <div class="splash_text">
      <h1>Plastiksnedkeri i 100% genanvendt plast</h1>
      <p>
        A Circular Design Studio er et utraditionelt plastiksnedkeri, der skaber
        interiør, installationer og kunstværker, i 100% genanvendt plast,
        indsamlet fra husholdninger, naturen eller virksomheder i Danmark.
      </p>
      <br />
      <p>Bliv klogere omkring cirkulær økonomi.</p>
      <div class="CTA">
        <a href="workshop">
          <Button
            variant="primary"
            tekst="TILMELD dig WORKSHOP"
            link="workshop"
          />
        </a>
      </div>
    </div>

    <Cirkel />
  </section>

  <section class="section2 section-grid">
    <h2 class="medStreg">Hvad tilbyder vi</h2>
    <div class="streg_wrapper"><Streg fill="var(--yellow-light)" /></div>

    <p>
      Vores store passion er cirkulær økonomi, og vi tilbyder derfor flere
      ydelser indenfor området. Udover vores populære produkter i genanvendt
      plast og kunstværker, tilbyder vi også kreative undervisningsforløb for
      institutioner, workshops for private og virksomheder og konsulentopgaver.
    </p>
    <div class="undersider">
      <div>
        <UndersideCard
          farve="pink"
          img="/img/avenyChair.webp"
          alt="aveny Chair"
          underside="special ordre"
          link="special-ordre"
        />
      </div>
      <div>
        <UndersideCard
          farve="green"
          img="/img/workshop.webp"
          alt="workshop"
          underside="workshop"
          link="workshop"
        />
      </div>
      <div>
        <UndersideCard
          farve="blue"
          img="/img/Stacks.webp"
          alt="stacks"
          underside="Rådgivning"
          link="raadgivning"
        />
      </div>
      <div>
        <UndersideCard
          farve="yellow"
          img="/img/regtangulaer.webp"
          alt="retangulaer bakke"
          underside="Webshop"
          link="produkter"
        />
      </div>
    </div>
  </section>
  <section class="section3 section-grid">
    <h2>Nyheder</h2>

    <Carousel />
  </section>
  <section class="section4 section-grid">
    <h2>Kalender</h2>
    <div class="kalender_tekst">
      <p>
        Vi er hele tiden ude i landet og besøge forskellige markeder, folkemøder
        og messer, for at vise vores produkter frem og ikke mindst tage en snak
        om genanvendelse af plastik og alle de fantastiske muligheder der er!
      </p>
      <br />
      <p>
        Herunder er en kalender med vores planer for de næste 3 måneder, vi
        prøver at holde den opdateret hver måned, men ellers kan du også finde
        meget mere information, hvis du følger med på de sociale medier,
        Instagram, Facebook og Linkedin.
      </p>
    </div>
    <div class="kalender">
      <p class="måned">December</p>
      <div class="datoer">
        <div>
          <CalenderForside
            farve="lightBlue"
            dato="9"
            dag="Fredag"
            location="Nørrebrohallen"
            sted="FLID julemarked"
            tidspunkt="14.00 - 20.00"
          />
        </div>
        <div>
          <CalenderForside
            farve="lightRed"
            dato="10"
            dag="Lørdag"
            location="Nørrebrohallen"
            sted="FLID julemarked"
            tidspunkt="10.00 - 17.00"
          />
        </div>
        <div>
          <CalenderForside
            farve="lightYellow"
            dato="11"
            dag="Søndag"
            location="Nørrebrohallen"
            sted="FLID julemarked"
            tidspunkt="10.00 - 16.00"
          />
        </div>
      </div>
      <p class="måned">Januar</p>
      <div class="datoer">
        <div>
          <CalenderForside
            farve="lightGreen"
            dato="28"
            dag="Lørdag"
            location="Frederiksberg"
            sted="København Design Marked"
            tidspunkt="10.00 - 17.00"
          />
        </div>
        <div>
          <CalenderForside
            farve="lightPink"
            dato="29"
            dag="Søndag"
            location="Frederiksberg"
            sted="København Design Marked"
            tidspunkt="10.00 - 17.00"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="section5 section-grid">
    <h2 class="insta">Instagram</h2>
    <div class="streg_wrapper"><Streg fill="var(--green)" /></div>
    <div class="insta_grid">
      <div class="billede1">
        <InstaCard img="/img/insta5.webp" />
      </div>
      <div class="billede2">
        <InstaCard img="/img/insta2.webp" />
      </div>
      <div class="billede3">
        <InstaCard img="/img/insta3.webp" />
      </div>
      <div class="billede4">
        <InstaCard img="/img/insta1.webp" />
      </div>
      <div class="billede5">
        <InstaCard img="/img/insta4.webp" />
      </div>
    </div>
  </section>

  <style>
    h1 {
      margin-bottom: var(--space-s);
    }

    .splash_text {
      grid-column: span 7;
      align-self: center;
      display: flex;
      flex-direction: column;
      gap: var(--space-xs);
    }

    .splash_text p:nth-last-of-type(1) {
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-m);
      justify-self: flex-end;
      color: var(--text-color-medium);
    }
    .CTA {
      padding-top: var(--space-l);
      justify-content: flex-end;
      display: flex;
    }

    h2 {
      grid-column: 1/5;
    }

    /* styling for sektion 2 | Hvad tilbyder vi */
    .medStreg {
      margin-bottom: var(--space-2xs);
    }

    .streg_wrapper {
      grid-row: 2;
      grid-column-start: 2;
      grid-column-end: 8;
      overflow: hidden;
      margin-bottom: var(--space-m);
      height: fit-content;
    }
    .section2 p {
      grid-column: 1/5;
      grid-row: 3;
    }

    .undersider {
      margin-top: var(--space-2xl);
      grid-column: 1/5;
      grid-row: 4/5;
      display: grid;
      place-content: center;

      gap: var(--space-m);
    }

    /* section 3 | kalender  */
    .kalender {
      grid-column: 1/5;
      grid-row: 3;
    }
    .datoer {
      display: grid;
      gap: var(--space-4xl);
      padding-left: var(--space-m);
    }

    .datoer div:nth-child(2) {
      place-self: flex-end;
    }

    .måned {
      font-size: var(--font-size-xl);
      letter-spacing: var(--letter-spacing-double);
      font-weight: var(--font-weight-exlight);
      padding: var(--space-3xl) 0 var(--space-s) 0;
    }
    .kalender_tekst {
      grid-column: 1/4;
    }

    /* section 5 | Instagram */
    .insta {
      margin-bottom: var(--space-s);
    }

    .insta_grid {
      grid-column: 1/5;
      display: grid;
      justify-content: center;
      gap: var(--space-m);
    }

    .billede2,
    .billede3 {
      display: none;
    }

    @media (min-width: 810px) {
      .section-grid {
        margin-bottom: var(--space-10xl);
      }
      .section-grid:nth-last-of-type(1) {
        margin-bottom: 0;
      }

      h2 {
        grid-column: 1/13;
      }

      /* styling for sektion 2 | Hvad tilbyder vi */
      .medStreg {
        margin-bottom: var(--space-2xs);
      }

      .streg_wrapper {
        grid-row: 2;
        grid-column-start: 2;
        grid-column-end: 8;
        overflow: hidden;
        margin-bottom: var(--space-m);
        height: fit-content;
      }
      .section2 p {
        grid-column: span 6;
        grid-row: 3;
      }

      .undersider {
        margin-top: var(--space-2xl);
        grid-column: 1/13;
        grid-row: 4/5;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      /* section 3 | kalender  */
      .kalender {
        grid-column: 5/13;
        grid-row: 3;
      }
      .datoer {
        display: flex;
        gap: var(--space-4xl);
        padding-left: var(--space-m);
      }

      .kalender_tekst {
        display: flex;
        grid-column: 1/9;
        gap: var(--space-2xl);
      }

      /* section 5 | Instagram */
      .insta_grid {
        grid-column: 1/13;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: repeat(2, minmax(200px, 250px));
        gap: var(--space-l);
        overflow: hidden;
        place-content: center;
      }

      .billede1,
      .billede2,
      .billede3,
      .billede4,
      .billede5 {
        object-fit: cover;
        overflow: hidden;
        display: flex;
      }
      .billede1 {
        grid-column: 1/2;
        grid-row: 1/3;
      }

      .billede2 {
        grid-column: 2/3;
        grid-row: 1/2;
      }

      .billede3 {
        grid-column: 3/4;
        grid-row: 1/2;
      }

      .billede4 {
        grid-column: 2/3;
        grid-row: 2/3;
      }

      .billede5 {
        grid-column: 3/4;
        grid-row: 2/3;
      }
    }
  </style>
</Layout>
