---
import Cirkel from "../components/Cirkel.astro";
import Layout from "../layouts/Layout.astro";
import Streg from "../components/Streg.astro";
import UndersideCard from "../components/UndersideCard.astro";
import Carousel from "../components/Carousel.astro";
import CalenderForside from "../components/CalenderForside.astro";
import InstaCard from "../components/InstaCard.astro";

const { title } = Astro.props;
---

<Layout title="Forside | A Circurlar Design Studio">
  <section class="section-grid">
    <div class="splash_text">
      <h1>Plastiksnedkeri i 100% genanvendt plast</h1>
      <p>
        A Circular Design Studio er et utraditionelt plastiksnedkeri, der skaber
        interiør, installationer og kunstværker, i 100% genanvendt plast,
        indsamlet fra husholdninger, naturen eller virksomheder i Danmark.
      </p>
    </div>
    <Cirkel />
  </section>

  <section class="section2 section-grid">
    <h2>Hvad tilbyder vi</h2>
    <div class="streg_wrapper"><Streg fill="var(--yellow-light)" /></div>

    <p>
      Vores store passion er cirkulær økonomi, og vi tilbyder derfor flere
      ydelser indenfor området. Udover vores populære produkter i genanvendt
      plast og kunstværker, tilbyder vi også kreative undervisningsforløb for
      institutioner, workshops for private og virksomheder og konsulentopgaver.
    </p>

    <UndersideCard
      farve="pink"
      img="/img/workshop.webp"
      underside="spical ordre"
      link="spical-ordre"
    />

    <UndersideCard
      farve="green"
      img="/img/workshop.webp"
      underside="workshop"
      link="workshop"
    />

    <UndersideCard
      farve="blue"
      img="/img/workshop.webp"
      underside="workshop"
      link="workshop"
    />

    <UndersideCard
      farve="yellow"
      img="/img/workshop.webp"
      underside="workshop"
      link="workshop"
    />
  </section>
  <section>
    <h2>Nyheder</h2>
    <Carousel />
  </section>
  <section>
    <h2>Kalender</h2>
    <div class="kalender_tekst">
      <p>
        Vi er hele tiden ude i landet og besøge forskellige markeder, folkemøder
        og messer, for at vise vores produkter frem og ikke mindst tage en snak
        om genanvendelse af plastik og alle de fantastiske muligheder der er!
      </p>
      <p>
        Herunder er en kalender med vores planer for de næste 3 måneder, vi
        prøver at holde den opdateret hver måned, men ellers kan du også finde
        meget mere information, hvis du følger med på de sociale medier,
        Instagram, Facebook og Linkedin.
      </p>
    </div>
    <div class="kalender">
      <h2 class="måned">December</h2>
      <div class="kalender_top">
        <CalenderForside
          Dato="9"
          dag="Freadg"
          sted="Nørrebrohallen"
          sted="FLID julemarked"
          tidspunkt="14.00-20.00"
        />
        <CalenderForside
          Dato="10"
          dag="Lørdag"
          sted="Nørrebrohallen"
          sted="FLID julemarked"
          tidspunkt="10.00-17.00"
        />
        <CalenderForside
          Dato="11"
          dag="Søndag"
          sted="Nørrebrohallen"
          sted="FLID julemarked"
          tidspunkt="10.00-16.00"
        />
      </div>
      <h2 class="måned">Januar</h2>
      <div class="kalender_bund">
        <CalenderForside
          Dato="28"
          dag="Lørdag"
          sted="Frederiksberg"
          sted="København Design Marked"
          tidspunkt="10.00-17.00"
        />
        <CalenderForside
          Dato="29"
          dag="Søndag"
          sted="Frederiksberg"
          sted="København Design Marked"
          tidspunkt="10.00-17.00"
        />
      </div>
    </div>
  </section>
  <section>
    <h2>Instagram</h2>
    <InstaCard img="/img/regtangularBakke.webp" />
  </section>
</Layout>

<style>
  .kalender {
    justify-self: end;
  }
  .kalender_bund {
    display: flex;
    gap: var(--space-xl);
  }
  .kalender_top {
    display: flex;
    gap: var(--space-xl);
  }
  .måned h2 {
    font-weight: var(--font-weight-exlight);
  }
  .kalender_tekst {
    display: flex;
  }
  :root {
    --grid-gutter: var(
      --space-s-s,
      clamp(0.88rem, calc(0.56rem + 1.31vw), 1.56rem)
    );
    --grid-max-width: 76.56rem;
    --grid-columns: 12;
  }
  .splash_text {
    grid-column: span 9;
    align-self: center;
  }
  .section-grid {
    margin: auto;
    padding: 1.5rem;
    column-gap: var(--grid-gutter);

    display: grid;
    grid-template-columns: repeat(12, minmax(20px, 80px));
    max-width: var(--grid-max-width);
  }

  h2 {
    grid-column: span 8;
  }

  .section2 p {
    grid-column: span 6;
    grid-row: 3;
  }

  .streg_wrapper {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 8;
    overflow: hidden;
    margin-bottom: var(--space-l);
  }
</style>
