---
import Layout from "../layouts/Layout.astro";
import WebshopCard from "../components/WebshopCard.astro";
---

<Layout title="Køb Produkter | A Circurlar Design Studio">
  <div class="grid">
    <h1>Køb produkter</h1>
    <div class="cards_wrapper">
      <WebshopCard
        link="stacks-the-lamp"
        produktnavn="Stacks The Lamp"
        pris="kr 1.895,00"
        img="/img/stacks_lampe.webp"
      />

      <WebshopCard
        link="cubes-podium"
        produktnavn="Cubes | Podium"
        pris="kr 2.795,00"
        img="./img/cubes.webp"
      />

      <WebshopCard
        link="regtangulaere-bakker"
        produktnavn="Rektangulære bakker"
        pris="kr 100,00"
        img="/img/regtangulaerBakke.webp"
      />

      <WebshopCard
        link="regtangulaer-saet"
        produktnavn="Rektangulært sæt"
        pris="kr 425,00"
        img="/img/regtangulaer-saet.webp"
      />

      <WebshopCard
        link="cirkulaer-bakke"
        produktnavn="Cirkulær bakke"
        pris="kr 325,00"
        img="/img/rundeBakker.webp"
      />

      <WebshopCard
        link="sample-kit"
        produktnavn="Sample Kit"
        pris="kr 249,00"
        img="/img/sampelKit.webp"
      />

      <WebshopCard
        link="greb"
        produktnavn="Greb"
        pris="kr 69,00"
        img="/img/greb.webp"
      />

      <WebshopCard
        link="knager"
        produktnavn="Knager"
        pris="kr 69,00"
        img="/img/knager.webp"
      />

      <WebshopCard
        produktnavn="Gavekort"
        img="/img/gavekort.webp"
        pris="kr 50,00"
      />
    </div>
  </div>
</Layout>

<style>
  h1 {
    grid-column: 1/13;
    color: var(--blue-light);
  }
  .cards_wrapper {
    grid-column: 1/13;
    place-items: center;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2xl);
    justify-content: space-between;
  }
</style>
