---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Forside | A Circurlar Design Studio">
  <h1>Temaet bag</h1>

  <TeametBag
    img="/img/andreas.webp"
    navn="ANDREAS ZACHO"
    titel="Creative Director | CEO | Main circular force"
    beskrivelse="Andreas er grundlægger og CEO og den kreative mastermind i A CIRCULAR DESIGN STUDIO. Der var ikke noget af det her, der var sket, hvis det ikke var for ham."
    laesMere="Læs mere om Andreas +"
    kontakt="kontakt"
    mail="andreaszacho@acirculardesignstudio.com"
  />

  <TeametBag
    img="/img/kasper.webp"
    navn="ANDREAS ZACHO"
    titel="Creative Director | CEO | Main circular force"
    beskrivelse="Andreas er grundlægger og CEO og den kreative mastermind i A CIRCULAR DESIGN STUDIO. Der var ikke noget af det her, der var sket, hvis det ikke var for ham."
    laesMere="Læs mere om Andreas +"
    kontakt="kontakt"
    mail="andreaszacho@acirculardesignstudio.com"
  />
</Layout>
