---
const { tal } = Astro.props;
---

<div class="wrapper">
  <h6>Antal</h6>

  <div class="antal_wrapper">
    <img class="plus_wrapper" src="/icons/plus.svg" alt="" />
    <p>1</p>
    <img class="minus_wrapper" src="/icons/minus.svg" alt="" />
  </div>
</div>

<style>
  img {
    border-radius: 3px;
    border: var(--color-greyscale-700) var(--border-xs);
  }

  .minus_wrapper {
    place-content: end;
    width: 56px;
    height: 56px;
  }

  .plus_wrapper {
    place-content: end;
    width: 56px;
    height: 56px;
  }
  .antal_wrapper {
    margin-top: var(--space-xs);
    border-radius: 3px;
    border: var(--border-xs);
    width: 174px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
