---
const { tal, tekst, img_plus, img_minus } = Astro.props;
---

<div class="wrapper">
    <h6>{tekst}</h6>
    <div class="antal_card">
<input class="input_tal" type={tal}>
<img src={img_plus} alt="">
<img src={img_minus} alt="">

</div>

</div>

<style>
    
</style>