---
const { tal } = Astro.props;
---

<div class="wrapper">
    <h6>Antal</h6>

    <div class="antal_wrapper">
<!-- <input class="input_tal" type={tal}> -->

<div class="plus_wrapper">
<img class="icon_plus" src="/icons/plus.svg" alt="">
</div>

<div class="plus_wrapper">
    <img class="icon_plus" src="/icons/minus.svg" alt="">
    </div>

</div>
</div>

<style>

.icon_plus {
max-width: 32px;
max-height: 32px;
    }

.antal_wrapper {
border: var(--border-xs);
width: 174px;
height: 56px;
    }
</style>