---
const { tekst, variant } = Astro.props;
---

<button data-variant={variant}><h4>{tekst}</h4></button>

<style>
  button h4 {
    color: var(--bg-color);
  }

  button {
    background-color: var(--pink-dark);
    padding: var(--space-3xl);
    padding-bottom: var(--space-xs);
    padding-top: var(--space-xs);
    border-radius: 3px;
    border: var(--pink-dark) var(--border-l);
  }

  button:hover h4 {
    color: var(--pink-dark);
  }
  button:hover {
    background-color: var(--bg-color);
    padding: var(--space-3xl);
    padding-bottom: var(--space-xs);
    padding-top: var(--space-xs);
    border-radius: var(--border-radius-default);
    border: var(--pink-dark) var(--border-l);
  }

  [data-variant="primary"] button {
    background-color: var(--beige-300);
    color: var(--beige-700);
  }
  [data-variant="primary"]:hover {
    background-color: var(--beige-300);
    color: var(--beige-700);
  }
</style>
