---
const { tekst, variant, link } = Astro.props;
---

<a href={link}
  ><button data-variant={variant}><h4 class="button_tekst">{tekst}</h4></button>
</a>

<style>
  /* generelt knap */

  button h4 {
    color: var(--bg-color);
    text-transform: uppercase;
    font-stretch: condensed;
  }

  button:hover h4 {
    color: var(--pink-dark);
  }

  /* primary knap */

  [data-variant="primary"] {
    background-color: var(--pink-dark);
    padding: var(--space-4xl);
    padding-bottom: var(--space-xs);
    padding-top: var(--space-xs);
    border-radius: 3px;
    border: var(--pink-dark) var(--border-l);
  }

  [data-variant="primary"]:hover {
    background-color: var(--bg-color);
    padding: var(--space-4xl);
    padding-bottom: var(--space-xs);
    padding-top: var(--space-xs);
    border-radius: var(--border-radius-default);
    border: var(--pink-dark) var(--border-l);
  }

  [data-variant="primary"]:hover h4 {
    color: var(--pink-dark);
  }

  /* secondary knap */
  [data-variant="secondary"] {
    width: 100%;
    background-color: var(--blue-dark);
    padding: var(--space-4xl);
    padding-bottom: var(--space-xs);
    padding-top: var(--space-xs);
    border-radius: 3px;
    border: var(--blue-dark) var(--border-l);
  }

  [data-variant="secondary"] h4 {
    color: var(--bg-color);
  }

  [data-variant="secondary"]:hover {
    color: var(--blue-dark);
    background-color: var(--bg-color);
    padding: var(--space-4xl);
    padding-bottom: var(--space-xs);
    padding-top: var(--space-xs);
    border-radius: var(--border-radius-default);
    border: var(--blue-dark) var(--border-l);
  }
  [data-variant="secondary"]:hover h4 {
    color: var(--blue-dark);
  }

  /* overlay*/

  [data-variant="overlay"] {
    color: var(--pink-light);
    background-color: transparent;
    padding: var(--space-4xl);
    padding-bottom: var(--space-xs);
    padding-top: var(--space-xs);
    border-radius: var(--border-radius-default);
    border: var(--pink-light) var(--border-l);
  }
  [data-variant="overlay"]h4 {
    color: var(--pink-light);
  }

  [data-variant="overlay"]:hover h4 {
    color: var(--pink-light);
  }

  /* tertiary knap */
  [data-variant="tertiary"] {
    color: var(--green);
    background-color: var(--bg-color);
    padding: var(--space-3xl);
    padding-bottom: var(--space-2xs);
    padding-top: var(--space-2xs);
    border-radius: 3px;
    border: var(--green) var(--border-l);
  }
  [data-variant="tertiary"]h4 {
    color: var(--green);
  }

  [data-variant="tertiary"]:hover {
    color: var(--green);
    background-color: var(--green-exLight);
    padding: var(--space-3xl);
    padding-bottom: var(--space-2xs);
    padding-top: var(--space-2xs);
    border-radius: 3px;
    border: var(--green) var(--border-l);
  }
  [data-variant="tertiary"]:hover h4 {
    color: var(--green);
  }

  [data-variant="tertiary"]:focus {
    background-color: var(--green);
  }
  [data-variant="tertiary"]:focus h4 {
    color: var(--bg-color);
  }
</style>
