---
const { tekst, variant } = Astro.props;
---

<button data-variant={variant}><h4>{tekst}</h4></button>

<style>
  /* generelt knap */

  button h4 {
    color: var(--bg-color);
  }

  button :hover h4 {
    color: var(--pink-dark);
  }

  /* lyserød knap */

  [data-variant="primaryButton"] {
    color: var(--bg-color);
    background-color: var(--pink-dark);
    padding: var(--space-4xl);
    padding-bottom: var(--space-xs);
    padding-top: var(--space-xs);
    border-radius: 3px;
    border: var(--pink-dark) var(--border-l);
  }

  [data-variant="primaryButton"]:hover {
    color: var(--pink-dark);
    background-color: var(--bg-color);
    padding: var(--space-4xl);
    padding-bottom: var(--space-xs);
    padding-top: var(--space-xs);
    border-radius: var(--border-radius-default);
    border: var(--pink-dark) var(--border-l);
  }

  /* blå knap */
  [data-variant="secondaryButton"] {
    color: var(--bg-color);
    background-color: var(--blue-dark);
    padding: var(--space-4xl);
    padding-bottom: var(--space-xs);
    padding-top: var(--space-xs);
    border-radius: 3px;
    border: var(--blue-dark) var(--border-l);
  }

  [data-variant="secondaryButton"]:hover {
    color: var(--blue-dark);
    background-color: var(--bg-color);
    padding: var(--space-4xl);
    padding-bottom: var(--space-xs);
    padding-top: var(--space-xs);
    border-radius: var(--border-radius-default);
    border: var(--blue-dark) var(--border-l);
  }

  /* læg i kurv */

  [data-variant="lag_i_kurvButton"] {
    color: var(--bg-color);
    background-color: var(--blue-light);
    padding: var(--space-4xl);
    padding-bottom: var(--space-xs);
    padding-top: var(--space-xs);
    border-radius: 3px;
    border: var(--blue-light) var(--border-l);
  }

  [data-variant="lag_i_kurvButton"]:hover {
    color: var(--bg-color);
    background-color: var(--blue-dark);
    padding: var(--space-4xl);
    padding-bottom: var(--space-xs);
    padding-top: var(--space-xs);
    border-radius: 3px;
    border: var(--blue-dark) var(--border-l);
  }

  /* webshop_cardButton*/
  [data-variant="webshopCardButton"] {
    color: var(--pink-light);
    background-color: var(--bg-color);
    padding: var(--space-3xl);
    padding-bottom: var(--space-xs);
    padding-top: var(--space-xs);
    border-radius: var(--border-radius-default);
    border: var(--pink-light) var(--border-l);
  }

  /* GavekortButton */
  [data-variant="GavekortButton"] {
    color: var(--green);
    background-color: var(--bg-color);
    padding: var(--space-3xl);
    padding-bottom: var(--space-2xs);
    padding-top: var(--space-2xs);
    border-radius: 3px;
    border: var(--green) var(--border-l);
  }
  [data-variant="GavekortButton"]:hover {
    color: var(--green);
    background-color: var(--bg-color);
    padding: var(--space-3xl);
    padding-bottom: var(--space-2xs);
    padding-top: var(--space-2xs);
    border-radius: 3px;
    border: var(--green) var(--border-l);
  }

  [data-variant="GavekortButton"]:focus {
    color: var(--bg-color);
    background-color: var(--green);
    padding: var(--space-3xl);
    padding-bottom: var(--space-2xs);
    padding-top: var(--space-2xs);
    border-radius: 3px;
    border: var(--green) var(--border-l);
  }
</style>
