---
const { tekst, variant } = Astro.props;
---

<div>
  <form>
    <label for="fname"> <h6>Lerverings dato</h6></label>
    <input type="datetime-local" />
  </form>
</div>
<br />

<style>
  label {
    display: block;
    font-family: var(--font-family-body);
  }

  input {
    border: var(--kurv-color) var(--border-xs);
  }
  input,
  label {
    padding: var(--space-xs);
    padding-bottom: var(--space-s);
    padding-top: var(--space-s);
    width: 520px;
    color: var(--text-color-medium);
    outline: none;
  }
  input :focus {
    border: var(--text-color-dark) var(--border-l);
  }
</style>

<!-- <div>
  <form>
    <label for="fname"> <h6>Lerverings dato</h6></label><br />
    <input
      class="inputFelt"
      data-variant={variant}
      type="text"
      id="fname"
      name="fname"
      placeholder="dd/mm-åååå "
    />
  </form>
</div>

<div class="kalenderUdfold hide">
  <table>
    <div class="topKalender">
      <button class="carousel-button prev" data-carousel-button="prev">
        &#8592;
      </button>
      <h5>December</h5>
      <button class="carousel-button next" data-carousel-button="next">
        &#8594;
      </button>
    </div>

    <thead>
      <tr class="dage">
        <th>Man.</th>
        <th>Tir.</th>
        <th>Ons.</th>
        <th>Tor.</th>
        <th>Fre.</th>
        <th>Lør.</th>
        <th>Søn.</th>
      </tr>
    </thead>

    <tbody>
      <tr class="grayTal">
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr></tr>
      <tr>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
      </tr>
      <tr>
        <td>17</td>
        <td>18</td>
        <td>19</td>
        <td>20</td>
        <td>21</td>
        <td>22</td>
        <td>23</td>
      </tr>
      <tr>
        <td>24</td>
        <td>25</td>
        <td>26</td>
        <td>27</td>
        <td>28</td>
        <td>29</td>
        <td>30</td>
      </tr>
      <tr>
        <td>31</td>
        <td class="grayTal">1</td>
        <td class="grayTal">2</td>
        <td class="grayTal">3</td>
        <td class="grayTal">4</td>
        <td class="grayTal">6</td>
        <td class="grayTal">7</td>
      </tr>
    </tbody>
  </table>
</div> -->

<!-- <style>
  .hide {
    display: none;
  }
  .inputFelt {
  }

  .topKalender {
    display: flex;
    place-content: center;
    gap: var(--space-xl);
    align-items: center;
  }

  .kalenderUdfold {
    border-radius: 3px;
    border: var(--text-color-medium) var(--border-l);
    width: 520px;
    height: 515px;
  }
  table {
    width: 520px;
    height: 515px;
    font-size: var(--font-size-s);
    font-style: normal;
    gap: var(--space-l);
    padding: var(--space-m);
    color: var(--blue-dark);
  }
  .grayTal {
    color: var(--text-color-light);
  }
  tr :hover {
    background-color: var(--color-blue-400);
  }

  .carousel-button {
    background: none;
    border: none;
    font-weight: lighter;
    font-size: 2em;
    z-index: 2;
    top: 50%;
    transform: translateY(50%);
    color: black;
    cursor: pointer;
  }

  [data-variant="primaryForms"] {
    color: var(--kurv-color);
    width: 520px;
    border: var(--kurv-color) var(--border-xs);
    padding: var(--space-xs);
    padding-bottom: var(--space-s);
    padding-top: var(--space-s);
    font-size: var(--step-0);
  }
</style>

<script>
  document
    .querySelector(".inputFelt")
    .addEventListener("click", showkalenderUdfold);
  function showkalenderUdfold() {
    console.log("der klikkes");
    document.querySelector(".KalenderUdfold").classList.toggle("hide");
  }
</script> -->
