<div class="cirkel_container">
  <img src="/cirkel.svg" class="rotation" alt="" />
</div>

<style>
  .cirkel_container {
    grid-column-start: 10;
  }

  .cirkel_container img {
    width: unset;
  }
</style>
