<div class="cirkel_container">
  <img src="/cirkel.svg" class="rotation" alt="" />
</div>

<style>
  .cirkel_container {
    order: -1;
    grid-column: 1/5;
  }

  @media (min-width: 810px) {
    .cirkel_container {
      order: unset;
      grid-column: unset;
      grid-column-start: 10;
    }
    .cirkel_container img {
      width: unset;
    }
  }
</style>
