---
const { tekst, variant } = Astro.props;
---

<select name="cars" id="cars">
  <option value="volvo">--Vælg--</option>
  <option value="saab">Lille</option>
  <option value="mercedes">Stor</option>
</select>
