---
import Cirkel from "./Cirkel.astro";
---

<footer class="footer_grid">
  <img class="logo" src="/logo_footer.svg" alt="" />

  <div class="adresse_wrapper flex_column">
    <address>
      Literbuen 12B<br />
      2740 Skovlunde
    </address>
    <p class="cvr">CVR: 37197416</p>

    <div class="sitemap">
      <a href="om_os.astro">Om Os</a>
      <a href="jobs.astro">Jobs</a>
    </div>
  </div>
  <div class="kontakt_info flex_column">
    <div>
      <h5>Kontakt os</h5>
      <div>
        <div class="flex_row">
          <p>Mail:</p>
          <a href="mailto:contact@acirculardesignstudio.com"
            >contact@acirculardesignstudio.com</a
          >
        </div>
        <div class="flex_row">
          <p>Telefon:</p><a href="tel:+45 60247964"> +45 60 24 79 64</a>
        </div>
      </div>
    </div>
    <div>
      <h6>Telefontid</h6>
      <p>Man-fre: <strong>13.00 - 16.00</strong></p>
      <p>Lør - søn: <strong>Lukket</strong></p>
    </div>
  </div>
  <div class="SoMe">
    <h5>Følg os</h5>
    <div class="icon_wrapper">
      <a href="https://www.instagram.com/acirculardesignstudio/"
        ><svg
          width="27"
          height="28"
          viewBox="0 0 27 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.2935 0.655884C9.68211 0.655884 9.23124 0.672501 7.81327 0.735645C6.39751 0.802112 5.43373 1.02478 4.58626 1.35379C3.71221 1.69278 2.96999 2.14808 2.2311 2.88698C1.4922 3.62588 1.03579 4.36699 0.69791 5.24215C0.368895 6.08961 0.145121 7.05339 0.0797611 8.46915C0.0132935 9.88712 0 10.338 0 13.9494C0 17.5608 0.0166169 18.0117 0.0797611 19.4297C0.146229 20.8443 0.368895 21.8092 0.69791 22.6567C1.03689 23.5296 1.4922 24.2729 2.2311 25.0118C2.96999 25.7496 3.71111 26.2071 4.58626 26.545C5.43483 26.8729 6.39861 27.0978 7.81327 27.1632C9.23124 27.2296 9.68211 27.2429 13.2935 27.2429C16.9049 27.2429 17.3558 27.2263 18.7738 27.1632C20.1884 27.0967 21.1533 26.8729 22.0008 26.545C22.8737 26.206 23.617 25.7496 24.3559 25.0118C25.0937 24.2729 25.5513 23.5329 25.8891 22.6567C26.217 21.8092 26.4419 20.8443 26.5073 19.4297C26.5737 18.0117 26.587 17.5608 26.587 13.9494C26.587 10.338 26.5704 9.88712 26.5073 8.46915C26.4408 7.0545 26.217 6.0885 25.8891 5.24215C25.5501 4.3681 25.0937 3.62588 24.3559 2.88698C23.617 2.14808 22.877 1.69167 22.0008 1.35379C21.1533 1.02478 20.1884 0.801005 18.7738 0.735645C17.3558 0.669177 16.9049 0.655884 13.2935 0.655884V0.655884ZM13.2935 3.04872C16.8418 3.04872 17.265 3.06644 18.6663 3.12737C19.9624 3.1883 20.6659 3.40321 21.1334 3.5871C21.756 3.8275 22.1969 4.11552 22.6643 4.57969C23.1285 5.04496 23.4165 5.48697 23.6569 6.10955C23.8386 6.57704 24.0557 7.28049 24.1144 8.57661C24.1776 9.97907 24.192 10.4 24.192 13.9494C24.192 17.4988 24.1754 17.9208 24.11 19.3222C24.0424 20.6183 23.8264 21.3218 23.6436 21.7893C23.3955 22.4118 23.113 22.8527 22.6477 23.3202C22.1836 23.7844 21.7349 24.0724 21.119 24.3128C20.6537 24.4945 19.9392 24.7116 18.6431 24.7703C17.2317 24.8335 16.8163 24.8479 13.2603 24.8479C9.70316 24.8479 9.28774 24.8313 7.87752 24.7659C6.58029 24.6983 5.86577 24.4823 5.40049 24.2995C4.77016 24.0514 4.33701 23.7689 3.87285 23.3036C3.40646 22.8394 3.10847 22.3908 2.87583 21.7749C2.69305 21.3096 2.47813 20.5951 2.41056 19.2989C2.36071 17.9031 2.34298 17.4722 2.34298 13.9328C2.34298 10.3923 2.36071 9.96024 2.41056 8.5478C2.47813 7.25168 2.69305 6.53827 2.87583 6.07299C3.10847 5.44155 3.40646 5.00951 3.87285 4.54313C4.33701 4.07896 4.77016 3.77986 5.40049 3.54833C5.86577 3.36444 6.56478 3.14842 7.8609 3.08195C9.27334 3.0321 9.68876 3.01548 13.2437 3.01548L13.2935 3.04872V3.04872ZM13.2935 7.12318C9.52148 7.12318 6.4673 10.1807 6.4673 13.9494C6.4673 17.7214 9.52481 20.7756 13.2935 20.7756C17.0656 20.7756 20.1197 17.7181 20.1197 13.9494C20.1197 10.1774 17.0622 7.12318 13.2935 7.12318ZM13.2935 18.3806C10.8453 18.3806 8.86235 16.3976 8.86235 13.9494C8.86235 11.5012 10.8453 9.51823 13.2935 9.51823C15.7417 9.51823 17.7247 11.5012 17.7247 13.9494C17.7247 16.3976 15.7417 18.3806 13.2935 18.3806ZM21.9853 6.85399C21.9853 7.73468 21.2696 8.44921 20.39 8.44921C19.5093 8.44921 18.7948 7.73357 18.7948 6.85399C18.7948 5.9744 19.5105 5.25987 20.39 5.25987C21.2685 5.25876 21.9853 5.9744 21.9853 6.85399Z"
          ></path>
        </svg>
      </a>
      <a href="https://www.facebook.com/profile.php?id=100048928514132">
        <svg
          width="35"
          height="34"
          viewBox="0 0 35 34"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M24.5987 4.94358C24.5987 4.75628 24.5243 4.57665 24.3918 4.4442C24.2594 4.31176 24.0797 4.23736 23.8924 4.23736H20.3613C18.5832 4.14878 16.8423 4.76758 15.5191 5.95854C14.1958 7.1495 13.3976 8.8158 13.2991 10.5934V14.407H9.76796C9.58066 14.407 9.40103 14.4814 9.26859 14.6138C9.13614 14.7463 9.06174 14.9259 9.06174 15.1132V18.7856C9.06174 18.9729 9.13614 19.1525 9.26859 19.2849C9.40103 19.4174 9.58066 19.4918 9.76796 19.4918H13.2991V28.9552C13.2991 29.1425 13.3735 29.3221 13.5059 29.4546C13.6384 29.587 13.818 29.6614 14.0053 29.6614H18.2426C18.43 29.6614 18.6096 29.587 18.742 29.4546C18.8745 29.3221 18.9489 29.1425 18.9489 28.9552V19.4918H22.6495C22.8065 19.494 22.9599 19.4439 23.0852 19.3492C23.2105 19.2546 23.3008 19.1209 23.3416 18.9692L24.3585 15.2968C24.3866 15.1925 24.3904 15.0831 24.3696 14.977C24.3488 14.871 24.3039 14.7711 24.2384 14.6852C24.1729 14.5992 24.0885 14.5294 23.9918 14.4812C23.8951 14.433 23.7886 14.4076 23.6806 14.407H18.9489V10.5934C18.984 10.2438 19.1482 9.91979 19.4094 9.68473C19.6705 9.44968 20.0099 9.32041 20.3613 9.32217H23.8924C24.0797 9.32217 24.2594 9.24776 24.3918 9.11532C24.5243 8.98288 24.5987 8.80325 24.5987 8.61594V4.94358Z"
          ></path>
        </svg>
      </a>

      <a href="https://www.linkedin.com/in/andreas-zacho-643022132/"
        ><svg
          width="35"
          height="34"
          viewBox="0 0 35 34"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M21.8843 11.8646C20.8018 11.8608 19.7291 12.0706 18.7277 12.4819C17.7263 12.8932 16.8158 13.4979 16.0483 14.2614C15.2809 15.0249 14.6715 15.9323 14.2551 16.9316C13.8387 17.9308 13.6234 19.0024 13.6215 20.085V28.3902C13.6215 28.7273 13.7555 29.0507 13.9938 29.2891C14.2322 29.5275 14.5556 29.6614 14.8927 29.6614H17.8589C18.196 29.6614 18.5193 29.5275 18.7577 29.2891C18.9961 29.0507 19.1301 28.7273 19.1301 28.3902V20.085C19.1298 19.7 19.2107 19.3192 19.3674 18.9675C19.5241 18.6158 19.7533 18.3011 20.0398 18.0439C20.3263 17.7867 20.6638 17.5928 21.0303 17.4748C21.3968 17.3568 21.7841 17.3173 22.1668 17.359C22.8533 17.4454 23.4841 17.7808 23.9398 18.3015C24.3954 18.8222 24.644 19.492 24.6386 20.1839V28.3902C24.6386 28.7273 24.7725 29.0507 25.0109 29.2891C25.2493 29.5275 25.5727 29.6614 25.9098 29.6614H28.876C29.2131 29.6614 29.5364 29.5275 29.7748 29.2891C30.0132 29.0507 30.1472 28.7273 30.1472 28.3902V20.085C30.1453 19.0024 29.93 17.9308 29.5136 16.9316C29.0972 15.9323 28.4878 15.0249 27.7203 14.2614C26.9529 13.4979 26.0424 12.8932 25.041 12.4819C24.0396 12.0706 22.9669 11.8608 21.8843 11.8646Z"
          ></path>
          <path
            d="M9.80793 13.1357H5.99432C5.29225 13.1357 4.72311 13.7049 4.72311 14.4069V28.3902C4.72311 29.0922 5.29225 29.6614 5.99432 29.6614H9.80793C10.51 29.6614 11.0791 29.0922 11.0791 28.3902V14.4069C11.0791 13.7049 10.51 13.1357 9.80793 13.1357Z"
          ></path>
          <path
            d="M7.90112 10.5933C9.65629 10.5933 11.0791 9.17048 11.0791 7.41531C11.0791 5.66015 9.65629 4.2373 7.90112 4.2373C6.14596 4.2373 4.72311 5.66015 4.72311 7.41531C4.72311 9.17048 6.14596 10.5933 7.90112 10.5933Z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
  <div class="e-jura">
    <a href="#">Cookiepolitik</a><a href="#">Privatlivspolitik</a><a href="#"
      >Handelsbetingelser</a
    >
  </div>
  <img class="cirkel rotation" src="/cirkel.svg" alt="" />
</footer>

<style>
  a {
    color: var(--text-color-dark);
  }

  h5,
  h6 {
    margin-bottom: var(--space-xs);
  }

  a:hover {
    color: var(--text-color-light);
  }

  strong {
    color: var(--text-color-dark);
    font-weight: var(--font-weight-medium);
  }

  footer {
    padding: 128px 0 var(--space-xl) 0;
    overflow: hidden;
  }
  .footer_grid {
    display: grid;
    grid-template-columns: repeat(16, var(--space-3xl));
  }

  .logo {
    margin-top: var(--space-3xl);
    width: 79%;
    grid-column: 1/6;
    grid-row: 1/2;
  }

  .adresse_wrapper {
    grid-column: 2/4;
    grid-row: 2/3;
  }

  address,
  .cvr {
    font-family: var(--font-family-body);
    font-size: var(--font-size-s);
    font-style: normal;
    line-height: var(--line-height-text);
    color: var(--text-color-dark);
  }

  .cvr {
    font-weight: var(--font-weight-light);
  }

  .kontakt_info p,
  .cvr {
    color: var(--text-color-light);
  }

  .sitemap {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

  .sitemap a {
    font-size: var(--font-size-m);
    font-stretch: condensed;
    font-weight: var(--font-weight-bold);
  }

  .flex_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    place-self: flex-start;
    align-self: stretch;
  }

  .kontakt_info {
    grid-column: 6/9;
    grid-row: 2/3;
  }

  .flex_row {
    display: flex;
    flex-direction: row;
    gap: var(--space-3xs);
    align-items: center;
  }

  .SoMe {
    grid-column: 12;
    grid-row: 2/3;
    align-self: flex-end;
  }

  .icon_wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--space-m);
    margin-top: var(--space-s);
    align-items: flex-end;
  }
  .icon_wrapper svg {
    fill: var(--text-color-dark);
  }

  .icon_wrapper svg:hover {
    fill: var(--text-color-light);
  }

  #cirkel_footer {
    position: absolute;
    right: 0;
  }
  .cirkel {
    grid-column: 15/22;
    grid-row: 1/4;
    position: relative;
    z-index: -3;
  }

  .e-jura {
    grid-column: 2/6;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    gap: var(--space-2xl);
    margin-top: var(--space-xl);
    align-items: flex-end;
  }

  .e-jura a {
    color: var(--text-color-light);
    font-size: var(--font-size-2xs);
  }

  .e-jura a:hover {
    color: var(--text-color-dark);
  }
</style>
