---
const { tekst, variant } = Astro.props;
---

<div>
  <form>
    <label for="fname"> <h6>{tekst}:</h6></label><br />
    <input data-variant={variant} type="text" id="fname" name="fname" />
  </form>
</div>

<style>
  [data-variant="primaryForms"] {
    color: var(--kurv-color);
    width: 520px;
    border: var(--kurv-color) var(--border-xs);
    padding: var(--space-xs);
    padding-bottom: var(--space-s);
    padding-top: var(--space-s);
    font-size: var(--step-0);
  }

  [data-variant="primaryForms"]:focus {
    color: var(--kurv-color);
    width: 520px;
    border: var(--text-color-dark) var(--border-l);
    padding: var(--space-xs);
    padding-bottom: var(--space-s);
    padding-top: var(--space-s);
    outline: none;
  }

  [data-variant="secondaryForms"] {
    color: var(--kurv-color);
    height: 163px;
    width: 520px;
    border: var(--kurv-color) var(--border-xs);
    padding: var(--space-xs);
    padding-bottom: var(--space-s);
    padding-top: var(--space-s);
    font-size: var(--step-0);
  }

  [data-variant="secondaryForms"]:focus {
    color: var(--kurv-color);
    height: 163px;
    width: 520px;
    border: var(--text-color-dark) var(--border-l);
    padding: var(--space-xs);
    padding-bottom: var(--space-s);
    padding-top: var(--space-s);
    outline: none;
  }
</style>
