---
const { img, icon } = Astro.props;
---

    <article class="card_wrapper">
        <img src={img} alt="instagram billede">
        <div class="overlay"></div>
        <div class="icon"><a href="https://www.instagram.com/acirculardesignstudio/"
            ><svg
              width="27"
              height="28"
              viewBox="0 0 27 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.2935 0.655884C9.68211 0.655884 9.23124 0.672501 7.81327 0.735645C6.39751 0.802112 5.43373 1.02478 4.58626 1.35379C3.71221 1.69278 2.96999 2.14808 2.2311 2.88698C1.4922 3.62588 1.03579 4.36699 0.69791 5.24215C0.368895 6.08961 0.145121 7.05339 0.0797611 8.46915C0.0132935 9.88712 0 10.338 0 13.9494C0 17.5608 0.0166169 18.0117 0.0797611 19.4297C0.146229 20.8443 0.368895 21.8092 0.69791 22.6567C1.03689 23.5296 1.4922 24.2729 2.2311 25.0118C2.96999 25.7496 3.71111 26.2071 4.58626 26.545C5.43483 26.8729 6.39861 27.0978 7.81327 27.1632C9.23124 27.2296 9.68211 27.2429 13.2935 27.2429C16.9049 27.2429 17.3558 27.2263 18.7738 27.1632C20.1884 27.0967 21.1533 26.8729 22.0008 26.545C22.8737 26.206 23.617 25.7496 24.3559 25.0118C25.0937 24.2729 25.5513 23.5329 25.8891 22.6567C26.217 21.8092 26.4419 20.8443 26.5073 19.4297C26.5737 18.0117 26.587 17.5608 26.587 13.9494C26.587 10.338 26.5704 9.88712 26.5073 8.46915C26.4408 7.0545 26.217 6.0885 25.8891 5.24215C25.5501 4.3681 25.0937 3.62588 24.3559 2.88698C23.617 2.14808 22.877 1.69167 22.0008 1.35379C21.1533 1.02478 20.1884 0.801005 18.7738 0.735645C17.3558 0.669177 16.9049 0.655884 13.2935 0.655884V0.655884ZM13.2935 3.04872C16.8418 3.04872 17.265 3.06644 18.6663 3.12737C19.9624 3.1883 20.6659 3.40321 21.1334 3.5871C21.756 3.8275 22.1969 4.11552 22.6643 4.57969C23.1285 5.04496 23.4165 5.48697 23.6569 6.10955C23.8386 6.57704 24.0557 7.28049 24.1144 8.57661C24.1776 9.97907 24.192 10.4 24.192 13.9494C24.192 17.4988 24.1754 17.9208 24.11 19.3222C24.0424 20.6183 23.8264 21.3218 23.6436 21.7893C23.3955 22.4118 23.113 22.8527 22.6477 23.3202C22.1836 23.7844 21.7349 24.0724 21.119 24.3128C20.6537 24.4945 19.9392 24.7116 18.6431 24.7703C17.2317 24.8335 16.8163 24.8479 13.2603 24.8479C9.70316 24.8479 9.28774 24.8313 7.87752 24.7659C6.58029 24.6983 5.86577 24.4823 5.40049 24.2995C4.77016 24.0514 4.33701 23.7689 3.87285 23.3036C3.40646 22.8394 3.10847 22.3908 2.87583 21.7749C2.69305 21.3096 2.47813 20.5951 2.41056 19.2989C2.36071 17.9031 2.34298 17.4722 2.34298 13.9328C2.34298 10.3923 2.36071 9.96024 2.41056 8.5478C2.47813 7.25168 2.69305 6.53827 2.87583 6.07299C3.10847 5.44155 3.40646 5.00951 3.87285 4.54313C4.33701 4.07896 4.77016 3.77986 5.40049 3.54833C5.86577 3.36444 6.56478 3.14842 7.8609 3.08195C9.27334 3.0321 9.68876 3.01548 13.2437 3.01548L13.2935 3.04872V3.04872ZM13.2935 7.12318C9.52148 7.12318 6.4673 10.1807 6.4673 13.9494C6.4673 17.7214 9.52481 20.7756 13.2935 20.7756C17.0656 20.7756 20.1197 17.7181 20.1197 13.9494C20.1197 10.1774 17.0622 7.12318 13.2935 7.12318ZM13.2935 18.3806C10.8453 18.3806 8.86235 16.3976 8.86235 13.9494C8.86235 11.5012 10.8453 9.51823 13.2935 9.51823C15.7417 9.51823 17.7247 11.5012 17.7247 13.9494C17.7247 16.3976 15.7417 18.3806 13.2935 18.3806ZM21.9853 6.85399C21.9853 7.73468 21.2696 8.44921 20.39 8.44921C19.5093 8.44921 18.7948 7.73357 18.7948 6.85399C18.7948 5.9744 19.5105 5.25987 20.39 5.25987C21.2685 5.25876 21.9853 5.9744 21.9853 6.85399Z"
              ></path>
            </svg>
          </a>
    </div>
    </article>

    <style>
    .wrapper {
        display: flex;
    }
    
       img {
        max-width: 450px;
        max-height: 645px;
       }
    
       .container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
       }
    
       .container:hover .btn {
        display: block;
    }
    
    .btn {
        position: absolute;
        display: none;
    }
    
       img:hover {
       opacity: 50%;
       background-color: var(--color-greyscale-400:);
    }
    
       .text_wrapper {
        display: grid;
        max-width: 450px;
        max-height: 645px;
       }
    
       .pris{
        display: flex;
        padding-top: var(--space-m);
        place-self: end;
        gap: var(--space-2xs);
       }
    
       .produktnavn {
        padding-top: var(--space-m);
       }
    </style>