---
const { punkt, href, underline, dropdown } = Astro.props;
---

<a id="navpunkt" href={href} class={underline}
  ><div>
    {punkt}
    {
      dropdown == true && (
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M9.96299 13.3204C9.76901 13.3208 9.58101 13.2532 9.43165 13.1295L4.45031 8.97835C4.28077 8.83743 4.17414 8.63492 4.1539 8.41539C4.13366 8.19586 4.20146 7.97728 4.34238 7.80773C4.4833 7.63819 4.6858 7.53157 4.90534 7.51133C5.12487 7.49108 5.34345 7.55888 5.513 7.6998L9.96299 11.4192L14.413 7.83264C14.4979 7.76368 14.5956 7.71218 14.7005 7.6811C14.8054 7.65002 14.9154 7.63998 15.0242 7.65155C15.133 7.66313 15.2384 7.69608 15.3344 7.74853C15.4304 7.80098 15.5151 7.87189 15.5836 7.95717C15.6596 8.04254 15.7172 8.14268 15.7527 8.25134C15.7883 8.35999 15.801 8.47481 15.7901 8.58861C15.7791 8.7024 15.7449 8.81271 15.6893 8.91264C15.6338 9.01256 15.5582 9.09994 15.4674 9.1693L10.486 13.1793C10.3324 13.2835 10.1482 13.3332 9.96299 13.3204Z" />
        </svg>
      )
    }
    {dropdown == false && ""}
  </div>
</a>

<style>
  a {
    color: var(--nav-a-color);
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-family: var(--font-family-nav);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-m);
    word-wrap: unset;
    letter-spacing: var(--letter-spacing-nav);
  }
  div {
    display: flex;
    flex-direction: row;
    gap: var(--space-3xs);
  }
  div svg {
    fill: var(--nav-a-color);
  }

  a:hover div svg {
    fill: var(--nav-a-color-hover);
  }

  a::after {
    content: "";
    display: block;
    margin-top: var(--space-2xs);
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
  }

  a:hover::after,
  a.active-nav::after {
    width: 100%;
  }

  a:hover {
    color: var(--nav-a-color-hover);
  }

  a.lightblue:after {
    background-color: var(--blue-light);
  }

  a.blue:after {
    background-color: var(--blue);
  }
  a.darkblue:after {
    background-color: var(--blue-dark);
  }

  a.lightyellow:after {
    background-color: var(--yellow-light);
  }
  a.yellow:after {
    background-color: var(--yellow);
  }

  a.darkyellow:after {
    background-color: var(--yellow-dark);
  }
  a.red:after {
    background-color: var(--red);
  }

  a.darkpink:after {
    background-color: var(--pink-dark);
  }
  a.lightgreen:after {
    background-color: var(--green-light);
  }
  a.green:after {
    background-color: var(--green);
  }
</style>
