---
const { img, produktnavn, pris, farve } = Astro.props;
---

<div class="card_wrapper">
    <img src="{img}" alt="">
    <h3>{produktnavn}</h3>
    <h3>{produktnavn}</h3>
    <h5>{pris}</h5>
</div>