---
import Layout from "../layouts/Layout.astro";
import AntalButton from "../components/AntalButton.astro";
import Dropdown from "../components/Dropdown.astro";
import Button from "../components/Button.astro";
---

<Layout title="Cirkulær Bakke | A Circurlar Design Studio">
  <h2>Cirkulær Bakke</h2>
  <img src="" alt="flueben" />
  <h6>14 dages fuld returret</h6>
  <img src="" alt="flueben" />
  <h6>håndlavede produkter</h6>

  <AntalButton
    tal="1"
    tekst="Antal"
    icon_plus="/icons/plus.svg"
    icon_minus="/icons/minus.svg"
  />
  <h4>Fra kr 325,00</h4>

  <Dropdown
    variant="primaryDropdown"
    tekst="Farve"
    tekst="Dragonfruit drizzle"
    tekst="Cloudy Peach"
    tekst="Kiwi Currents"
    tekst="Plum Puddles"
    tekst="Blueberry Blizzard"
    tekst="Mango Haze"
    tekst="Papaya Rainbows"
  />
  <Dropdown
    variant="primaryDropdown"
    tekst="Størrelse"
    tekst="lille"
    tekst="mellem"
    tekst="stor"
  />
  <Button variant="LagIKurvButton" tekst="Læg i kurv" />
  <p>
    Vores Cirkulære bakker er udover at være en fast del af vores sortiment,
    også et af de første produkter vi lancerede. Bakkerne passer i et hvert
    hjem, og kan benyttes til mange formål, om det så er salt/peber/olie, et lys
    og en potteplante på spisebordet eller sågar som serveringsbakke til kolde
    drinks, en varm sommerdag. De er selvfølgelig lavet af 100% genanvendt
    plast, indsamlet i Danmark og håndlavet på vores værksted i Skovlunde, lige
    uden for København.
  </p>
  <img src="cirkulær1.webp" alt="rundeBakker" />
  <img src="rundeBakker.webp" alt="rundeBakker" />
  <img src="cirkulær2.webp" alt="rundeBakker" />
  <img src="cirkulær3.webp" alt="rundbakke" />

  <h5>Leveringstid</h5>
  <p>
    Alle vores produkter er håndlavede, hvilket betyder vi producerer
    produkterne løbende, når de bestilles. <br />

    Derfor vil der være ca 3-4 ugers levering, afhængig af størrelsen på ordren. <br
    />

    Hvis ordren haster, er i velkomne til at kontakte os, så skal vi prøve at få
    den ført igennem hurtigst muligt.
  </p>

  <h5>Leveringsomkostninger</h5>
  <p>
    Fragt koster 99 kroner i hele Danmark pr podie. Ved større bestillinger, kan
    i kontakte os, både for betaling via faktura og samlet fragt. <br />

    Du kan også vælge at afhente gratis i vores butik på Nørrebro i København
    eller på vores værksted i Skovlunde.
  </p>
</Layout>
