---
import Layout from "../layouts/Layout.astro";
import AntalButton from "../components/AntalButton.astro";
import Dropdown from "../components/Dropdown.astro";
import Button from "../components/Button.astro";
---

<Layout title="Knager| A Circurlar Design Studio">
  <h2>Knager</h2>
  <img src="" alt="flueben" />
  <h6>14 dages fuld returret</h6>
  <img src="" alt="flueben" />
  <h6>håndlavede produkter</h6>

  <AntalButton
    tal="1"
    tekst="Antal"
    icon_plus="/icons/plus.svg"
    icon_minus="/icons/minus.svg"
  />
  <h4>kr 69</h4>

  <Dropdown
    variant="primaryDropdown"
    tekst="Farve"
    tekst="Dragonfruit drizzle"
    tekst="Cloudy Peach"
    tekst="Kiwi Currents"
    tekst="Plum Puddles"
    tekst="Blueberry Blizzard"
    tekst="Mango Haze"
    tekst="Papaya Rainbows"
  />

  <Button variant="LagIKurvButton" tekst="Læg i kurv" />
  <p>
    Vores knager er perfekte, til at få lidt farve ind i gangen, børneværelset
    eller måske køkkenet i hjemmet. Knagerne er traditionelle og simple i
    udformningen, men vores 7 farver og fremstilling i genbrugsplast, skaber et
    samspil der kan sætte kolorit til de fleste hjem. Vi designer altid med
    fokus på miljøet, så knagerne er fremstillet af vores eget
    produktionsoverskud, da vi på den mådemindsker vores spild yderligere.
  </p>
  <img src="knage1.webp" alt="knage" />
  <img src="knage.webp" alt="knage" />
  <img src="knage2.webp" alt="knage" />
  <img src="knage3.webp" alt="knage" />

  <h5>Leveringstid</h5>
  <p>
    Alle vores produkter er håndlavede, hvilket betyder vi producerer
    produkterne løbende, når de bestilles. <br />

    Derfor vil der være ca 3-4 ugers levering, afhængig af størrelsen på ordren. <br
    />

    Hvis ordren haster, er i velkomne til at kontakte os, så skal vi prøve at få
    den ført igennem hurtigst muligt.
  </p>

  <h5>Leveringsomkostninger</h5>
  <p>
    Fragt koster 99 kroner i hele Danmark pr podie. Ved større bestillinger, kan
    i kontakte os, både for betaling via faktura og samlet fragt. <br />

    Du kan også vælge at afhente gratis i vores butik på Nørrebro i København
    eller på vores værksted i Skovlunde.
  </p>
</Layout>
