<section class="section_grid">
  <div class="billedeGalleri">
    <img class="img1" src="/img/lampe.webp" alt="stor_cubes" />
    <div class="billedeGruppe">
      <img class="img2" src="/img/lampe1.webp" alt="lampe1" />
      <img class="img3" src="/img/lampe2.webp" alt="lampe2" />
      <img class="img4" src="/img/lampe3.webp" alt="lampe3" />
    </div>
  </div>
</section>
