---
import Layout from "../layouts/Layout.astro";
import AntalButton from "../components/AntalButton.astro";
import Dropdown from "../components/Dropdown.astro";
import Button from "../components/Button.astro";
---

<Layout title="Stacks The Lamp| A Circurlar Design Studio">
  <h2>Stacks The Lamp</h2>
  <img src="" alt="flueben" />
  <h6>14 dages fuld returret</h6>
  <img src="" alt="flueben" />
  <h6>håndlavede produkter</h6>

  <AntalButton
    tal="1"
    tekst="Antal"
    icon_plus="/icons/plus.svg"
    icon_minus="/icons/minus.svg"
  />
  <h4>kr 1.895,000</h4>

  <Dropdown
    variant="primaryDropdown"
    tekst="Farve"
    tekst="Dragonfruit drizzle"
    tekst="Cloudy Peach"
    tekst="Kiwi Currents"
    tekst="Plum Puddles"
    tekst="Blueberry Blizzard"
    tekst="Mango Haze"
    tekst="Papaya Rainbows"
  />
  <Dropdown
    variant="primaryDropdown"
    tekst="Størrelse"
    tekst="lille"
    tekst="stor"
  />
  <Button variant="LagIKurvButton" tekst="Læg i kurv" />
  <p>
    Stacks "The Lamp" er vores første bud på en bordlampe, der som alle vores
    andre produkter er skabt af geanvendt plast, og kommer i fem friske farver,
    der vil passe i de fleste hjem! Lampen er lavet i samarbejde med KS
    Lightning Group, der snart i 50 år har produceret lamper og tilbehør i
    Danmark. KS lightning Group har stået for fremstillingen af lampeskærme og
    elektronikken, og vi har gjort hvad vi er bedst, så vi har haft fokus på
    design og cirkulær produktion, og det betyder selvfølgelig at lampen er
    lavet af 100% genanvendt plast.
  </p>
  <img src="lampe.webp" alt="stor_cubes" />
  <img src="lampe1.webp" alt="lampe1" />
  <img src="lampe2.webp" alt="lampe2" />
  <img src="lampe3.webp" alt="lampe3" />

  <h5>Leveringstid</h5>
  <p>
    Alle vores produkter er håndlavede, hvilket betyder vi producerer
    produkterne løbende, når de bestilles. <br />

    Derfor vil der være ca 3-4 ugers levering, afhængig af størrelsen på ordren. <br
    />

    Hvis ordren haster, er i velkomne til at kontakte os, så skal vi prøve at få
    den ført igennem hurtigst muligt.
  </p>

  <h5>Leveringsomkostninger</h5>
  <p>
    Fragt koster 99 kroner i hele Danmark pr podie. Ved større bestillinger, kan
    i kontakte os, både for betaling via faktura og samlet fragt. <br />

    Du kan også vælge at afhente gratis i vores butik på Nørrebro i København
    eller på vores værksted i Skovlunde.
  </p>
</Layout>
